<!DOCTYPE html>
<html lang="cn"
	xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<link th:href="@{css/boot/bootstrap.min.css}" rel="stylesheet" type="text/css" >
<link th:href="@{css/style.css}" rel="stylesheet" type="text/css" >
<link th:href="@{css/article-details.css}" rel="stylesheet" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
<meta charset="UTF-8">
<title>文章详情</title>
</head>
<body>
<div class="container">

	<!-- 头部 -->
	<header class="blog-header py-3">
	    <div class="row flex-nowrap justify-content-between align-items-center">
	      <div class="col-4 pt-1">
	        <a class="blog-header-logo text-dark" href="home">BLOG</a>
	      </div>
	      <div class="col-4 d-flex justify-content-end align-items-center">
			<div class="img-ling">
				<a href="me">
	      		<img src="img/kala.jpg" />
	      		</a>
	      	</div>
	      </div>
	    </div>
	</header>
	
	<!-- 主体页面strat -->
	<div class="row weitiao">
		<div class="col-md-8 rong-qi" >
			<!-- 头部 start -->
			<h1 class="article-title">什么时候去见那个超级超级想见的人啊!!</h1>
			<div class="author">
				<a href="#"><img src="img/kala.jpg" /> </a>
				<div class="info">
					<span class="name"><a href="#">叫我老白就好了</a></span>
				</div>
				<div class="meta">
					<span class="publish-time">2019.02.22 11:15</span>
					<span class="wordage">字数 1367</span>
					<span class="views-count">阅读 3431</span>
					<span class="comments-count">评论 8</span>
					<span class="likes-count">喜欢 43</span>
				</div>
			</div>
			
			<!-- end -->
			
				<!-- 主体内容 start-->
			<div class="show-content">
				
				<p>不见不散/原创</p>
				<p>以前,你跟我说.爱上一个人恋上一座城.可是现在,城在,你已经走了好远好远... ...</p>
				<p><br/></p>
				<p>记得之前在抖音上面看到,"你什么时候去见那个超级超级想见的人".我想说是你.后来也有跟你联系,我说"等下雪了,我就来见你,我认识你的时候也刚好下雪".这么多年以来,湖南第一次下这么大的雪,但是我没有来见你.不知道,我自己也不知道我为什么没有来...</p>
				<p><br/></p>
				<div class="image-package">
					<img src="img/upload/3.jpg"/>
					</div>
					<div class="image-caption">
						<p>你是我喝了酒才会说出口的想念</p>
						<p><br/></p>
					</div>
					<p>我怀念3月的一中,想念6月的凤凰,思念12月的你.删除了所有关于你的照片,我都不知道为什么要那么做?西藏这是你第二次去了吧.可惜了,可惜错过了太多的风景.现在为曾经的年少无知买单,酒也喝的少了,一年几次,槟榔也不嚼了,就是还抽烟.这样可以解愁.我不知道此生还能否再见,也不知道自己是否还有勇气再见.但是如果再见我想以最好的状态来见你,以最优秀的状态来见你,我也不希望你比我差.希望大家各自安好,余生幸福!</p>
					<p><br/></p>
				<div class="image-change">
					<img src="img/upload/4.jpg" />
				</div>
				<p><br/></p>
				<p>酒过三巡,方知生活索然无味.其实只不过是拖着皮囊苟且而已.其实,我最怕的就是那句不见不散.见了,怕散.</p>
				<p><br/></p>
				<p>我喜欢柳永的:"衣带渐宽终不悔,为伊消得人憔悴".受你的文学气息熏陶,我其实也特别喜欢看看一些散文和诗集.感受那些文字的魅力和人家精神上的交流.我相信,多学点东西没有坏处.我也知道你喜欢看我跳舞的样子.我喜欢去学很多东西,我希望在你的眼里是最好的那个人!</p>
				<p><br/></p>
				<p>至此:纪念我们过去的9年.望你一切安好!</p>
				<p><br/></p>
				<p>引用一句话:"再见难嘛?要是难就不要再见.也可能一生不见!---"</p>
				
			</div>
			<!-- end -->
			
		</div>
	</div>
	<!-- end  -->
	

	
		
</div>

<footer class="blog-footer">
  <p>你看这个碗,它又大又圆 <a href="#">Spring Boot</a> by zhou<a href="#"> </a>.</p>
  <p>
    <a href="#">Yao ao ao ao!</a>
  </p>
</footer>

</body>
</html>