<!DOCTYPE html>
<html lang="cn"
	xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<link th:href="@{css/boot/bootstrap.min.css}" rel="stylesheet" type="text/css" >
<link th:href="@{css/login.css}" rel="stylesheet" type="text/css" >
<link th:href="@{css/style.css}" rel="stylesheet" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
<head>
<meta charset="UTF-8">
<title>登录</title>
</head>
<body>
<div class="container">
<header class="blog-header py-3">
	<div
		class="row flex-nowrap justify-content-between align-items-center">
		<div class="col-4 pt-1">
			<a class="blog-header-logo text-dark" href="home">BLOG</a>
		</div>
		<div class="col-4 d-flex justify-content-end align-items-center">
			<a class="btn btn-outline-primary" href="register">注 册</a>
		</div>
	</div>
</header>


	<form class="form-signin" action="userlogin" method="post">
  	<img src="img/kala.jpg"  class="signin-img">
  	
  	<h1 class="h3 mb-3 font-weight-normal">请登录</h1>
  	
  	<input type="text"class="form-control" placeholder="用户名" required="" autofocus="">
  	<input type="password" class="form-control" placeholder="密码" required="">
  	<div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> 记住我
    </label>
  	</div>
  	<button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
  </form>
  
  
</div>
</body>
</html>