@charset "UTF-8";


.weitiao{
	padding-top:30px;
}

.rong-qi{
	margin:10px auto;
}

.article-title{
	font-family: inherit;
    font-weight: 700;
    line-height: 1.3;
	
}

.author{
	margin-top: 20px;
    margin-right: 20px;
}

.author img{
	float: left;
	height:50px;
    width:50px;
    border-radius: 50%;
    margin-right: 10px;

}
.info span a{
	color: black;
}

.meta span{
	font-size: 14px;
	color: #696969;
}

.show-content{
	margin-top: 30px;
	margin-bottom: 50px;
	float: left;
}

.show-content img{
	
	width: 100%;
	height: 100%;
}








